<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>no</title>
	<style type="text/css">
    body {
    background-color: lightblue;
  }
	</style>
</head>
<body>
  {{obj.name_of_enterprise}}<br>
  {{obj.name_of_enterpreneur}}<br>
  {{obj.email}}<br>
  {{obj.phone_number}}<br>
  {{obj.nationality}}<br>
  {{obj.dob}}<br>
  {{obj.address}}<br>
  {{obj.education}}<br>
  {{obj.website}}<br>
  {{obj.organization_type}}<br>
  {{obj.is_your_enterprise}}<br>
  {{obj.impact}}<br>
  {{obj.name_of_mentor}}<br>
  {{obj.sector}}<br>
  {{obj.mention}}<br>
  {{obj.infra_resource}}<br>
  {{obj.special_req}}
</html>