.container{
	border: 1px solid black;
	box-shadow: 4px 4px #7777;
	margin: 20px;
}

#head5{
  text-align: center;
  font-size:2.5em;
  font-family:'Robot-Light',sans-serif;
  color:#ec5133;

}

#logo{
	display: block;
  margin-left: auto;
  margin-right: auto;
	width:50%;
	height:50vh;
	max-height: 100%;
	max-width: 100%;
	box-shadow: 4px 4px #7777;
}
#desc{
	margin:10px;
	text-align: justify;
	font-size: 1.3em;
	font-family: calibri;
}
.hed{
  font-size:1.25em;
  font-family:'Robot-Light',sans-serif;
  color:#d24c38;
  margin:10px;
}
#link{
	color: black;
	text-decoration:none;
}
#link:hover{
	color:#ec5133;
}