{% load static from staticfiles %}

<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>NU CIIE</title>
    <link rel="icon" href="{% static 'logo.png' %}">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'styles.css' %}">


    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha384-fJU6sGmyn07b+uD1nMk7/iSb4yvaowcueiQhfVgQuD98rfva8mcr1eSvjchfpMrH" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

    {% block extra_css %}{% endblock %}
  </head>

  <body>
    <header>
      <div class="menu-container"  id="nu" style="background-image: none;"> 
        <div class="grt-menu-row">
          <div class="grt-menu-logo"></div>
          <div class="grt-menu-logo">
            <a href="https://www.niituniversity.in"  class="grt-logo"><img src="{% static 'nulogo.png' %}"></a>
          </div>    
          <div class="grt-menu-logo"></div>
        </div>
      </div>
      <div class="menu-container">
       <div class="grt-menu-row">
         <div class="grt-menu-logo">
          
            <a href="/"  class="grt-logo"><img src="{% static 'logo.png' %}"></a>
          </div>
          <div class="grt-menu-right">
            <nav>
              <button class="grt-mobile-button"><span class="line1"></span><span class="line2"></span><span class="line3"></span></button>
              <ul class="grt-menu">
                <li ><a href="/">Home</a></li>
                <li><a href="{% url 'team' %}">Team</a></li>
                <li class="grt-dropdown"><a>Programs</a>
                  <ul class="grt-dropdown-list">
                    <li><a href="{% url 'events' %}">Events</a></li>
                    <li><a href="{% url 'startups' %}">Startups</a></li>
                    <li><a href="{% url 'robotics' %}">Robotics club</a></li>
                  </ul>
                </li>             
                <li><a href="{% url 'gallery' %}">Gallery</a></li>
                <li class="grt-dropdown"><a>Contact us</a>
                  <ul class="grt-dropdown-list">
                    <li><a href="{% url 'idea' %}">Submit your idea</a></li>
                    <li><a href="{% url 'startup' %}">Submit your startup</a></li>
                    <li><a href="{% url 'joinus' %}">Join us</a></li>
                  </ul>
                </li>
                {% if user.is_authenticated %}
                <li class="grt-dropdown"><a>{{request.user.FirstName}}</a>
                  <ul class="grt-dropdown-list">
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                  </ul>
                </li>
                {% else %}
                <li><a href="{% url 'social:begin' 'google-oauth2' %}?next={{request.path}}">Login</a></li>
                {% endif %}
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>

    <div class="page-container">
      {% block content %}
      {% endblock %}
    </div>
    <div class="footer">
  <p style="margin: 10px">Copyright © 2019.NIIT University</p>
</div>

    <script src="{% static 'nav.js' %}"></script>

{% load sweetify %}
{% sweetify %}
  </body>
</html>